<IfModule mod_rewrite.c>
  RewriteEngine On RewriteBase / RewriteRule ^index\.html$ - [L] RewriteCond
  index.html !-f RewriteCond index.html !-d RewriteCond index.html !-l
  RewriteRule . /index.html [L]
</IfModule>
